*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

#html,body{
    position: absolute;
    height: 100%;
    width: 100%; 
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
}
#nav-part1{
    display: flex;
    gap: 30px;
    font-size: 20px;
    text-transform: capitalize;
}
#nav h5{
    position: relative;
    font-weight: 500;
    right: 85%;
    font-size: 15px;
    cursor: pointer;
}
#nav img{
    position: absolute;
    height: 74px;
    width: 100px;
    left: 1%;
    top: 2px;
}
#box{
    height: 80%;
    width: 100%;
}
#box video{
    position: absolute;
    height: 80%;
    width: 100%;
    object-fit: cover;
}
#box h2{
    position: absolute;
    font-size: 32px;
    font-weight: 800;
    color: white;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: capitalize;
    text-align: center;
}
#box p{
    position: absolute;
    color: white;
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#nav2{
        position: absolute;
        height: 80.9%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        top: 10%;
        
}
#info{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    gap: 15px;
    padding: 5%;
    
}
#info h5{
    font-size: 16px;
    color: white;
    padding: 13px 20px;
    background-color: rgba(16, 15, 15, 0.553);
    border-radius: 50px;
    font-weight: 500;
    transition: all ease 0.3s;
    cursor: pointer;
}
#info h5:nth-child(1){
    background-color:rgb(255, 255, 255);
    color: black;
}
::selection{
    background-color: rgba(189, 29, 55, 0.749);
    color: white;

}
#info h5:hover{
    color: black;
    background-color: white;
}
#box input{
 position: relative;
 height: 60px;
 width: 40%;
 margin-left: 30%;
 border-radius: 30px;
 padding: 12px 30px ;
 top: 60%;
 border: none;
 outline: none;

}
#info2{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        gap: 15px;
        padding: 5%;
    }

#info2 h3{
    font-size: 16px;
    color: white;
    padding: 13px 20px;
    background-color: rgba(16, 15, 15, 0.553);
    border-radius: 50px;
    font-weight: 500;
    transition: all ease 0.3s;
    margin-top: 45%;
    cursor: pointer;
}
#info2 h3:hover{
    color: black;
    background-color: white;
}
#page2{
    height: 100%;
    width: 100%;
}
#subnav{
    height: 80px;
    width: 100%;
    background-color:#fff;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
#n button{
    
    border:  1px solid rgba(214, 209, 209, 0.868);
    margin-left: 70px;
    border-radius: 8px;
    padding: 10px 40px 10px 5px;
    background-color: transparent;
    
}
#m i{
    margin-right: 10px
}
#m button{
    
    border: 1px solid rgba(214, 209, 209, 0.868);
    margin-right: 70px;
    border-radius: 8px;
    padding: 10px 30px 10px 5px;
    background-color: transparent;

    
}

.box{
    margin: 0px -20px 10px 65px;
    width: 310px;
    height: 240px;
    display: inline-block;
    border: none;
    border-radius:20px;
    position: relative;
    overflow: hidden;
   cursor: pointer;

}
.box img{
    width: 100%;
    height: 100%;
}
 .box #cover{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.514));
    bottom: -40%;
    transition: all ease 0.2s;
    align-items:end;
    position: absolute;
    opacity: 0;
    justify-content: space-between;
    display: flex;


    
}
.box:hover #cover{
    bottom: 0%;
    opacity:1;
    
}
 #cover .ri-heart-3-fill{
    font-size: 20px;
    background-color: white;
    color:rgb(238, 52, 52);
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-left: 70px;
    margin-bottom: 15px;

}
#cover .ri-folder-add-fill{
    font-size: 20px;
    background-color: white;
    color:rgb(30, 23, 23);
    padding: 7px;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 15px;

}
#cover h6{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 15px;
    display:flex;


}

